body {
  margin: 0px;
  background-color: #d3d3d3;
}

nav {
  display: flex;
  align-items: center;
  background-color: #e4e4e4;
  width: 100%;
}

.nav-logo {
  padding: 1rem 4rem;
  flex-basis: 90%;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-basis: 10%;
  padding: 1rem 4rem;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

main .header-image-container {
  width: 100%;
  height: 300px;
  border: solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 6;
}

main .welcome {
  grid-column: 8 / span 5;
  align-self: center;
}

main > h2 {
  grid-column: span 12;
  justify-self: center;
  padding: 1rem;
}

main .card {
  grid-column: span 4;
  background-color: #e4e4e4;
  padding: 1em 1em;
}

.image-section-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.images {
  width: 100%;
  height: 250px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-column-start: 4;
  grid-row: span 2;
}

@media screen and (max-width: 960px) {
  main .header-image-container {
    grid-column: 2 / span 10;
  }
  main .welcome {
    grid-column: 3 / span 8;
    text-align: center;
  }

  main .card {
    grid-column: 3 / span 8;
  }
}
