* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #d3d3d3;
}

header {
  background-color: white;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  transition: 300ms ease;
}

.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

main .header-image-container {
  width: 100%;
  height: 300px;
  border: solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 6;
}

main .welcome {
  grid-column: 8 / span 5;
  align-self: center;
}

main > h2 {
  grid-column: span 12;
  justify-self: center;
  padding: 1rem;
}

main .card {
  grid-column: span 4;
  background-color: #e4e4e4;
  padding: 1em 1em;
}

.image-section-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.images {
  width: 100%;
  height: 250px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-col-span-2 {
  grid-column: span 2;
}

@media screen and (max-width: 960px) {
  main .header-image-container {
    grid-column: 2 / span 10;
  }
  main .welcome {
    grid-column: 3 / span 8;
    text-align: center;
  }

  main .card {
    grid-column: 3 / span 8;
  }

  main .images {
    grid-column: 1 / span 4;
  }
}
